<h1 mat-dialog-title>{{ titleModal }}</h1>

<div mat-dialog-content>
  <form class="form p-2" [formGroup]="formBeginTemplate">
    <mat-form-field class="field" [color]="'accent'" appearance="outline">
      <mat-label>Etiqueta del Campo</mat-label>
      <input
        matInput
        formControlName="label"
        autocomplete="off"
        cdkFocusInitial
        required
      />
      <mat-error *ngIf="validField('label', formBeginTemplate)"
        >Requerido</mat-error
      >
    </mat-form-field>
    <mat-form-field class="field" [color]="'accent'" appearance="outline">
      <mat-label>Nombre del Input</mat-label>
      <input
        matInput
        formControlName="name"
        autocomplete="off"
        required
      />
      <mat-error *ngIf="validField('name', formBeginTemplate)"
        >Requerido</mat-error
      >
    </mat-form-field>
    <mat-form-field class="field" [color]="'accent'" appearance="outline">
      <mat-label>Tipo del Campo</mat-label>
      <mat-select formControlName="type">
        <mat-option value="" disabled selected>Seleccione...</mat-option>
        <mat-option value="text">Texto</mat-option>
        <mat-option value="number">Número</mat-option>
      </mat-select>
      <mat-error *ngIf="validField('type', formBeginTemplate)"
        >Requerido</mat-error
      >
    </mat-form-field>
    <mat-slide-toggle formControlName="required">Requerido</mat-slide-toggle>
  </form>
</div>

<div mat-dialog-actions class="actions">
  <button mat-button (click)="onClose()">Cerrar</button>
  <button
    mat-button
    (click)="openFormBuilder()"
  >
    Agregar
  </button>
</div>
